.App {
  width: 600px;
  margin: 100px auto;
}

.form {
  display: grid;
  grid-gap: 2rem;
}

.form--textarea {
  width: 100%;
}

.form--actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.result {
  background: rgba(0, 0, 0, 0.1);
}

.form,
.result {
  padding: 1.5rem 3rem;
}

.result--inactive {
  color: transparent;
}

.result--active {
  color: black;
}